// Update Bulma's global variables
$primary: $brand-color;
$section-padding: 3rem 0.75rem;
$file-radius: 0;
$file-cta-background-color: $primary;
$file-name-border-width: 0;
$navbar-box-shadow-color:hsl(0, 70%, 52%) ;
$pagination-current-background-color: $primary;
$pagination-current-border-color: $primary;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";

// elements and components needed
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/modal.sass";
@import "~bulma/sass/components/pagination.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/grid/columns";



